.mainArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blueviolet;
}

.pending {
  color: gray;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}