/* You can add global styles to this file, and also import other style files */
@import "bulma/css/versions/bulma-no-dark-mode.css";

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}
